* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.header {
  justify-content: space-between;
  /* background-color: #fff159; */
}

.navCard {
  width: auto;
}

.navCard:hover {
  background-color: darkgray;
}

.profileCard {
  width: 25%;
}

.locationCard {
  width: 25%;
}
.inputSearch {
  width: 25%;
}

.sectionHeader {
  justify-content:space-around;
  flex-grow: 1;
}
